.wallpaper{
  height:400px;
  width:100%;
  object-fit:cover;
  margin-top:1px;
}

.row{
  display:flex;
  justify-content:space-around;
  padding-left:1px;
  padding-right:1px;
  background:yellow;
  gap:15px;
  
}

.column{
  align-items:center;
  /* padding:2px; */
  margin:auto;
  width:100%;
  justify-content:center;
  background:red;
  
}

.center{
  /* margin:auto;
  width:50%; */
}